.div-block-6:nth-child(2n){
                background: darkgrey;
            }
            .div-block-6:nth-child(2n) .text-block-5{
                color: blue;
            }
			
			.calc-input {
			width: 90px;
			height: 30px;
			margin-right:5px;
			margin-left:5px;
			padding: 5px 10px;
			font-size: 16px;
			border-radius: 10px;
			color: #4e454a;
			border-color: blue;
			border-width: 3px;
			}
			
			.calc-calculate{
				//padding: 10px;
				//margin-left:5px;
				margin-right: 10px;
				width: 40px;
				height: 30px;
				//font-size: 15px;
				border-radius: 10px;
				background: #598cff;
				border-width: 10px;
				border-color: blue;
				color: #efefef;
			}