.div-block-6:nth-child(2n){
                background: darkgrey;
            }
            .div-block-6:nth-child(2n) .text-block-5{
                color: blue;
            }
			
			.calc-input {
			text-align: center;
			width: 90px;
			height: 30px;
			margin-right:5px;
			margin-left:5px;
			padding: 5px 10px;
			font-size: 16px;
			border-radius: 5px;
			background: #f9fafa;
			color: #4e454a;
			border-color: blue;
			border-width: 3px;
			}
			
			.calc-calculate{
				margin-left:10px;
				margin-right: 10px;
				width: 60px;
				height: 30px;
				//font-weight: bold;
				font-size: 20px;
				border-radius: 10px;
				background: #598cff;
				border-width: 10px;
				border-color: blue;
				color: white;
				
			}
			.calc-operation {
				text-align: center;
				padding-right: 9px;
				margin-left:10px;
				margin-right: 10px;
				width: 60px;
				height: 30px;
				//font-weight: bold;
				font-size: 20px;
				border-radius: 7px;
				background: #598cff;
				//border-width: 10px;
				border-color: blue;
				color: white;
			}